<div #header class="header">
  <span>MindMaps</span>
  <span (click)="newTopic()" style="float: right;cursor: pointer">Add New Topic</span>
</div>
<div class="main-container">
  <span defaultOverlayTarget></span>
  <!--<section *ngIf="isLoading && !errorMessage">
    Loading our hyperdrives!!! Retrieving data...
  </section>-->

<ul>
  <li  class="mindmap" *ngFor="let topic of topics">
    <a [routerLink]="['/topics', topic.name,topic.childUid,topic.id]">
    {{topic.name}}
    </a>
  </li>

</ul>

  <section *ngIf="errorMessage">
    {{errorMessage}}
  </section>

</div>
